Repository COSC481W-2021Fall/capstone-7-Deadly-Bugs, pull requests merged in 2021-12, with the labels that each got.

#89 impl: Delete Deck
  backend/flashfolio/deck.go
  backend/flashfolio/main.go
  frontend/flashfolio/src/Calls.js
  frontend/flashfolio/src/NewDeckButton.css
  frontend/flashfolio/src/Viewer.js
Labels: enhancement, Front End, Back End, React, Go, sprint4

#90 impl: Study cards game
  frontend/flashfolio/src/App.js
  frontend/flashfolio/src/Viewer.js
Labels: enhancement, Front End, React, sprint4

#92 impl: UI & UX cleanup
  frontend/flashfolio/src/App.css
  frontend/flashfolio/src/App.js
  frontend/flashfolio/src/DeckPreview.js
  frontend/flashfolio/src/Flashcard.css
  frontend/flashfolio/src/Flashcard.js
  frontend/flashfolio/src/FlashcardPreview.css
  frontend/flashfolio/src/Home.js
  frontend/flashfolio/src/Load.js
  frontend/flashfolio/src/Navbar.js
  frontend/flashfolio/src/NewDeckButton.css
  frontend/flashfolio/src/NewDeckButton.js
  frontend/flashfolio/src/Profile.js
  frontend/flashfolio/src/UserInfoPreview.js
  frontend/flashfolio/src/UserProfilePreview.css
  frontend/flashfolio/src/UserProfilePreview.js
  frontend/flashfolio/src/Viewer.js
  frontend/flashfolio/src/background_styles.css
Labels: Front End, React, maintenance, sprint4
