Repository COSC481W-2021Fall/capstone-7-Deadly-Bugs, pull requests merged in 2021-11, with the labels that each got.

#64 fix: Fixed a bug that added extra components to flashcard
  frontend/flashfolio/src/Viewer.js
Labels: bug, Front End, React, maintenance, sprint3

#66 impl: Added button to change between edit and view mode
  frontend/flashfolio/src/Viewer.js
Labels: enhancement, Front End, React, sprint3

#67 impl: User structure
  backend/flashfolio/main.go
  backend/flashfolio/user.go
  frontend/flashfolio/src/Calls.js
  frontend/flashfolio/src/LoginButton.js
Labels: enhancement, Front End, Back End, React, Go, sprint3

#68 impl: Deck ownership
  backend/flashfolio/main.go
  backend/flashfolio/user.go
  frontend/flashfolio/src/App.js
  frontend/flashfolio/src/Calls.js
  frontend/flashfolio/src/Login.js
  frontend/flashfolio/src/LoginButton.js
  frontend/flashfolio/src/LogoutButton.js
  frontend/flashfolio/src/Viewer.js
Labels: enhancement, Front End, Back End, React, Go, sprint3

#70 impl: Deck privacy
  backend/flashfolio/main.go
  frontend/flashfolio/src/Calls.js
  frontend/flashfolio/src/Viewer.js
Labels: enhancement, Front End, Back End, React, Go, sprint3

#74 impl: Profile Page
  frontend/flashfolio/src/App.js
  frontend/flashfolio/src/Profile.js
  frontend/flashfolio/src/Viewer.css
  frontend/flashfolio/src/profile_background.jpeg
Labels: enhancement, Front End, React, sprint3

#75 impl: navigation implemented
  frontend/flashfolio/src/App.js
  frontend/flashfolio/src/Load.js
  frontend/flashfolio/src/Navbar.js
  frontend/flashfolio/src/Viewer.js
  frontend/flashfolio/src/background_styles.css
  frontend/flashfolio/src/styles.css
Labels: enhancement, Front End, Back End, React, Go, sprint3

#77 impl: adding deck preview
  frontend/flashfolio/src/DeckPreview.js
  frontend/flashfolio/src/FlashcardPreview.css
  frontend/flashfolio/src/Load.js
Labels: enhancement, Front End, React, sprint3

#78 impl: load page
  backend/flashfolio/main.go
  frontend/flashfolio/package-lock.json
  frontend/flashfolio/package.json
  frontend/flashfolio/src/Calls.js
  frontend/flashfolio/src/DeckPreview.js
  frontend/flashfolio/src/DeckSearch.js
  frontend/flashfolio/src/FlashcardPreview.css
  frontend/flashfolio/src/Load.js
  frontend/flashfolio/src/NewDeckButton.js
Labels: enhancement, Front End, Back End, React, Go, sprint3

#73 impl: Delete cards and Previous Card button
  frontend/flashfolio/src/Flashcard.js
  frontend/flashfolio/src/Viewer.js
Labels: enhancement, Front End, React, sprint3

#79 impl: refactor Import
  frontend/flashfolio/package-lock.json
  frontend/flashfolio/package.json
  frontend/flashfolio/src/Viewer.js
Labels: enhancement, Front End, React, sprint3

#87 chore: Sprint 4 maintenance
  backend/flashfolio/deck.go
  backend/flashfolio/main.go
  backend/flashfolio/main_test.go
  backend/flashfolio/user.go
  frontend/flashfolio/package-lock.json
  frontend/flashfolio/src/App.js
  frontend/flashfolio/src/App.test.js
  frontend/flashfolio/src/Calls.js
  frontend/flashfolio/src/DeckPreview.js
  frontend/flashfolio/src/DeckSearch.js
  frontend/flashfolio/src/Flashcard.js
  frontend/flashfolio/src/Flashcard.test.js
  frontend/flashfolio/src/Flashdeck.js
  frontend/flashfolio/src/Home.js
  frontend/flashfolio/src/Load.js
  frontend/flashfolio/src/LoginButton.js
  frontend/flashfolio/src/LogoutButton.js
  frontend/flashfolio/src/Navbar.js
  frontend/flashfolio/src/NewDeckButton.js
  frontend/flashfolio/src/Profile.js
  frontend/flashfolio/src/UserInfoPreview.js
  frontend/flashfolio/src/Viewer.css
  frontend/flashfolio/src/Viewer.js
  frontend/flashfolio/src/Viewer.test.js
  frontend/flashfolio/src/index.js
  frontend/flashfolio/src/setupTests.js
  frontend/flashfolio/src/styles.css
Labels: bug, maintenance, sprint4

#88 impl: Searching for decks
  backend/flashfolio/deck.go
  frontend/flashfolio/src/DeckSearch.js
  frontend/flashfolio/src/Load.js
Labels: enhancement, Front End, Back End, React, Go, sprint4
