Repository COSC481W-2021Fall/capstone-7-Deadly-Bugs, pull requests merged in 2021-10, with the labels that each got.

#12 impl: Basic card viewer
  .gitignore
  backend/flashfolio/card.go
  backend/flashfolio/go.mod
  backend/flashfolio/go.sum
  backend/flashfolio/main.go
  frontend/flashfolio/package-lock.json
  frontend/flashfolio/package.json
  frontend/flashfolio/src/App.css
  frontend/flashfolio/src/App.js
  frontend/flashfolio/src/App.test.js
  frontend/flashfolio/src/Flashcard.css
  frontend/flashfolio/src/Flashcard.js
  frontend/flashfolio/src/Flashdeck.js
  frontend/flashfolio/src/Viewer.js
  frontend/flashfolio/src/index.css
  frontend/flashfolio/src/index.js
  frontend/flashfolio/src/logo.svg
  frontend/flashfolio/src/reportWebVitals.js
  frontend/flashfolio/src/setupTests.js
  frontend/package-lock.json
Labels: enhancement, Front End, Back End, React, Go, sprint1

#14 impl: flipping flashcards
  frontend/flashfolio/package-lock.json
  frontend/flashfolio/src/Flashcard.js
Labels: enhancement, Front End, React, sprint1

#19 impl: Editing Cards & Card Editor
  frontend/flashfolio/src/App.js
  frontend/flashfolio/src/Flashcard.css
  frontend/flashfolio/src/Flashcard.js
  frontend/flashfolio/src/Viewer.js
Labels: enhancement, Front End, React, sprint1

#21 chore: Sprint 1 Maintenance
  backend/api/Frontend-To-Backend-Calls.txt
  backend/flashfolio/main.go
  backend/flashfolio/main_test.go
  frontend/flashfolio/README.md
  frontend/flashfolio/public/index.html
  frontend/flashfolio/src/App.test.js
  frontend/flashfolio/src/Calls.js
  frontend/flashfolio/src/Flashcard.js
  frontend/flashfolio/src/Flashcard.test.js
  frontend/flashfolio/src/Viewer.js
  frontend/flashfolio/src/Viewer.test.js
  frontend/flashfolio/src/setupTests.js
  make-dummy-deck.sh
Labels: documentation, Front End, Back End, sprint1, maintenance

#41 impl: Add multi-card view to editor
  frontend/flashfolio/src/Viewer.css
  frontend/flashfolio/src/Viewer.js
Labels: enhancement, Front End, React, sprint2

#43 impl: Deck ID generation
  backend/flashfolio/main.go
Labels: enhancement, Back End, Go, sprint2

#42 impl: kyle delete cards
  frontend/flashfolio/src/Viewer.js
  make-dummy-deck.sh
Labels: enhancement, Front End, React, sprint2

#45 impl: Save Deck to database
  .idea/.gitignore
  .idea/capstone-7-Deadly-Bugs.iml
  .idea/modules.xml
  .idea/vcs.xml
  backend/flashfolio/card.go
  backend/flashfolio/deck.go
  backend/flashfolio/main.go
  frontend/flashfolio/package-lock.json
  frontend/flashfolio/src/Calls.js
  frontend/flashfolio/src/Viewer.js
Labels: enhancement, Front End, Back End, React, Go, sprint2

#47 impl: Added an add card button, puts an empty card at the end of deck
  frontend/flashfolio/src/Viewer.js
Labels: enhancement, Front End, React, sprint2

#46 impl: Create new deck
  backend/flashfolio/deck.go
  backend/flashfolio/main.go
  frontend/flashfolio/package-lock.json
  frontend/flashfolio/package.json
  frontend/flashfolio/src/App.js
  frontend/flashfolio/src/Calls.js
  frontend/flashfolio/src/NewDeckButton.css
  frontend/flashfolio/src/NewDeckButton.js
Labels: enhancement, Front End, Back End, React, Go, sprint2

#48 style: create page styling
  frontend/flashfolio/src/App.css
  frontend/flashfolio/src/App.js
  frontend/flashfolio/src/Flashcard.css
  frontend/flashfolio/src/Viewer.js
  frontend/flashfolio/src/styles.css
  make-dummy-deck.sh
Labels: enhancement, Front End, React, sprint2
